.div_body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E5CAF;
}
.div2{
   width: 500px;
   height: 480px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 20px 20px 20px 20px;
}

.mb-3{
   width: 300px;
   margin: 8x;
}
.d-grid{
    margin: 16px;
}

.N{
    margin-right: 230px;
}
.pass{
    margin-right: 200px;
}